name: Build and Release
on:
  push:
    branches:
      - '**'
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.17.7'
      - uses: actions/cache@v4
        id: go-modules
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-${{ hashFiles('go.sum') }}

      - run: ./scripts/lint
      - run: ./scripts/build

      - if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v6
        with:
          name: s3downloader-linux-amd64
          path: ./bin/s3downloader-linux-amd64
      - if: failure()
        uses: ./.github/actions/notify
        with:
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v7
        with:
          name: s3downloader-linux-amd64
          path: ./bin/
      - uses: actions/setup-go@v6
        with:
          go-version: '1.17.7'
      - name: Relase
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./scripts/ci-release
      - if: failure()
        uses: ./.github/actions/notify
        with:
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
